{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<p>When {{ object.user.username }} starts typing... '{{ object.google_query.query_terms }}'</p>

Google responds and says...
{% if object.suggestions.all %}
maybe you would like to have a look at one of these?
<ol>
{% for item in object.suggestions.all %}
    <li>{{ item.suggestions | safe }}</li>
{% endfor %}
</ol>
{% else %}
Sorry, dude or gal, I have nothing to recommend
{% endif %}

<!--p>What do you think?</p-->
<!--p>let there be meaning: {{ object.meaning_comment }}</p>
<p>'cause life is not so serious:  {{ object.humurous_comment }}</p-->

<br><br><br>
<p>Date: {{ object.created_on|date }}</p>

{% endblock %}
