{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<p>When {{ object.user.username }} starts typing... '{{ object.google_query.query_terms }}'</p>

Google responds and says...
{% if object.suggestions.all %}
maybe you would like to have a look at one of these?
<ol>
{% for item in object.suggestions.all %}
    <li>{{ item.search_text | safe }} <a href="{{ item.google_search_url }}">--></a></li>
{% endfor %}
</ol>
{% else %}
Sorry, I have nothing to recommend.
{% endif %}

<br><br><br>
<p>Date: {{ object.created_on|date }}</p>

{% endblock %}
